DB_URL=jdbc:mysql://localhost:3306/taller_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=root
MAIL_USERNAME=gabrielisidro8@gmail.com
MAIL_PASSWORD=gpfodtmkljreylud
JWT_SECRET=TuTallerSaaS!ClaveSuperSeguraYSecretaParaFirmarTokens2026
JWT_EXPIRATION=36000000
